.techfont {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand {
    font-size: 1.5em;
}

.post-date {
    text-align: center;
}

.post-title {
    font-family: 'Raleway', 'sans-serif';
    font-size: 3em;
    text-align: center;
}

.post-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.loader {
    filter: hue-rotate(0deg);
    background: linear-gradient(45deg, #0f8, #08f);
    animation: hue 10000ms infinite linear;
}

.info {
    padding: 5px 15px;
    color: #eee;
    background-color: rgba(0, 0, 0, .5);
}
body {
    font-family: Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background-color: #222;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
@keyframes spinify {
    0% {
        transform: translate(0px, 0px);

    }
    33% {
        transform: translate(0px, 24px);
        border-radius: 100%;
        width: 10px;
        height: 10px;

    }
    66% {
        transform: translate(0px, -16px);
    }

    88% {
        transform: translate(0px, 4px);

    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }

}

/*Text grad*/

@-webkit-keyframes animationgradienttitle {
    0% {
        background-position: 0 1600px;
    }
    100% {
        background-position: 1600px 0;
    }
}

@keyframes animationgradienttitle {
    0% {
        background-position: 0 1600px;
    }
    100% {
        background-position: 1600px 0;
    }
}

.gradient-text {
    color: #fc3735;
    background: -webkit-linear-gradient(left, #F57170, #10DDC2, #F57170);
    background-size: 1600px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: animationgradienttitle;
    animation-name: animationgradienttitle;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
